.imageContainer {
    width: 100%;
    height: 100%;
    background-image: url('/img/layout/home.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -100px;
}