.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #EEE;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

a.logoLink,
a.logoLink:hover {
  text-decoration: none;
}

.logo {
  font-weight: 300;
  text-align: right;
  width: 280px;
  margin-top: 20px;
  margin-bottom: 21px;
}

.logo .lead {
  color: #0b6a9e;
  font-size: 40px;
  line-height: 40px;
}

.logo .secondary {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 5pt;
  color: #99a2a7;
}

.links ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.links ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menuLink {
  text-transform: uppercase;
  margin: 0 20px;
  font-size: 15px;
  text-decoration: none;
  color: rgba(0,0,0,.5);
}

.menuLink:hover {
    color: #0b6a9e;
}

.aciveLink {
  color: #0b6a9e;
  font-weight: 600;
}

.langMenu {
  height: 100%;
  margin-right: 20px;
}

.langMenu ul {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: flex-start;
}

.langMenu li {
    padding: 0;
    margin: 0;
    list-style: none; 
}

.langMenu ul li a {
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 15px;
    text-decoration: none;
    color: rgba(0,0,0,.5);
    background: none;
    border: none;
    cursor: pointer;
  }

  .langMenu ul li a.activeLang {
    text-decoration: underline;
}
